In [1]:
pip install requests pandas mysql-connector-python

Requirement already satisfied: requests in c:\users\hp\anaconda3\lib\site-packages (2.32.2)
Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: mysql-connector-python in c:\users\hp\anaconda3\lib\site-packages (9.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\hp\anaconda3\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\hp\anaconda3\lib\site-packages (from requests) (2025.1.31)
Requirement already satisfied: numpy>=1.26.0 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\hp\anaconda3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [59]:
import requests
import json
import pandas as pd

# API URL for all countries' population data
url = "https://api.worldbank.org/v2/country/all/indicator/SP.POP.TOTL?format=json&per_page=5000"

# Send request
response = requests.get(url)
data = response.json()

# Extract relevant information
population_data = []
for entry in data[1]:  # Data is inside the second list
    country = entry["country"]["value"]
    year = int(entry["date"])
    population = entry["value"]

    population_data.append([country, year, population])

# Convert to DataFrame
df = pd.DataFrame(population_data, columns=["Country", "Year", "Population"])
print(df.head(10))

                       Country  Year   Population
0  Africa Eastern and Southern  2023  750503764.0
1  Africa Eastern and Southern  2022  731821393.0
2  Africa Eastern and Southern  2021  713090928.0
3  Africa Eastern and Southern  2020  694446100.0
4  Africa Eastern and Southern  2019  675950189.0
5  Africa Eastern and Southern  2018  657801085.0
6  Africa Eastern and Southern  2017  640058741.0
7  Africa Eastern and Southern  2016  623369401.0
8  Africa Eastern and Southern  2015  607123269.0
9  Africa Eastern and Southern  2014  590968990.0

In [93]:
import mysql.connector
import os

In [95]:
mydb =mysql.connector.connect(host = 'localhost', user= 'root', password='nmn2906',database='world_population',use_pure=True)

In [96]:
mycursor=mydb.cursor()

In [101]:
mycursor.execute('show tables')
for x in mycursor:
    print(x)

('population',)

In [49]:
print("Number of records:", len(population_data))

Number of records: 5000

In [87]:
print("MySQL Connection Object:", mydb)

MySQL Connection Object: <mysql.connector.connection.MySQLConnection object at 0x0000027318ECE360>

In [89]:
#  Ensure connection is open before proceeding
if mydb.is_connected():
    print("Connected to MySQL successfully!")

    #  Create cursor
    cursor = mydb.cursor()

    #  Insert data into MySQL
    for row in population_data:
        cursor.execute("INSERT INTO population (country, year, population) VALUES (%s, %s, %s)", 
                       (row[0], row[1], row[2]))

    #  Commit changes
    mydb.commit()
    print("Data successfully inserted into MySQL!")

    #  Close cursor & connection
    cursor.close()
    mydb.close()
else:
    print("Error: Unable to connect to MySQL")

Connected to MySQL successfully!
Data successfully inserted into MySQL!